In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandasgui import show

(python3:8200): Gtk-WARNING **: 16:10:06.326: Theme parsing error: gtk.css:6321:10: 'height' is not a valid property name

In [7]:
dataset = pd.read_csv('/home/achintya/Desktop/Code/Machine Learning/Machine Learning/Multiple-Linear-Regression/50_Startups.csv')
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [8]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [7]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [9]:
states = pd.get_dummies(X['State'], drop_first=True)

In [10]:
X = X.drop('State', axis=1)
X = pd.concat([X, states], axis=1)

In [11]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [13]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(X_train, y_train)

LinearRegression()

In [21]:
y_pred = LR.predict(X_test)

In [19]:
print(y_pred)

[103015.20159796 132582.27760816 132447.73845174  71976.09851258
 178537.48221055 116161.24230165  67851.69209676  98791.73374687
 113969.43533012 167921.0656955 ]

In [22]:
from sklearn.metrics import r2_score
score = r2_score(y_test, y_pred)
print(score)

0.9347068473282423